<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.demo.sansan.dao.IgUserDao">



    <select id="queryById" resultType="com.demo.sansan.bean.IgUser">
        select * from ig_user where userId = #{userId}
    </select>

    <select id="queryByUserName" resultType="com.demo.sansan.bean.IgUser">
        select userName,nickName,smallHeadImg,headImg,postCount,followerCount,following from ig_user where userName = #{userName}
    </select>


    <select id="queryAll" resultType="com.demo.sansan.bean.IgUser">
        select * from ig_user
    </select>


    <insert id="insert" parameterType="com.demo.sansan.bean.IgUser">
        INSERT INTO ig_user (
          userId,userName,nickName,smallHeadImg,headImg, postCount,followerCount,following, updateTime
        )
        VALUES
        (
        #{userId},#{userName},#{nickName},#{smallHeadImg},#{headImg},#{postCount}, #{followerCount},#{following},NOW()
        );
    </insert>


    <update id="update" parameterType="com.demo.sansan.bean.IgUser">
        UPDATE ig_user SET headImg =#{headImg} WHERE userName = #{userName};
    </update>

    <delete id="deleteById">
        delete from ig_user where id=#{id}
    </delete>


</mapper>